{% extends "base.html" %}

{% load static %}

{% block extend_title %} - Shopping Bag{% endblock %}

{% block content %}
    <div id="main-content" class="container">
        <div class="row">
            <h1 id="header" class="text-center text-capitalize mt-4">Shopping Bag</h1>
            <hr class="mt-3">
            <div class="col-12">
                {% if bag_total %}
                    <div id="responsive-table-box" class="table-responsive mt-4">
                        <table id="responsive-table" class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col"colspan="4">Article</th>
                                    <th scope="col"></th>
                                    <th scope="col" colspan="2">Author(s)</th>
                                    <th scope="col" colspan="2">Price</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in bag_articles %}
                                    <tr>
                                        <td>
                                            <a class="article-img" href="{{ article.article.image.url }}" target="_blank">
                                                <img class="bag-img" src="{{ article.article.image.url }}"  alt="{{ article.article.image.name }}">
                                            </a>
                                        </td>
                                        <td colspan="4" class="align-middle">{{ article.article.title }}</td>
                                        <td colspan="2" class="align-middle">{% for author in article.article.authors.all %}{% if not forloop.counter == 1 %}<br>{% endif %}{{ author }}{% endfor %}</td>
                                        <td colspan="2" class="align-middle">£{{ article.article.price }}</td>
                                        <td class="align-middle">
                                            <form class="form" action="{% url 'remove_from_bag' article.article.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-black px-1 py-0" value="X">
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center py-3">
                        <h5 class="underline"><strong>Total: £{{ bag_total|floatformat:2 }}</strong></h5>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-orange my-3 " href="{% url 'articles' %}">
                            <i class="fas fa-chevron-left"></i>
                            Articles
                        </a>
                        <a class="btn btn-black my-3" href="{% url 'checkout' %}">
                            Secure Checkout
                            <i class="fas fa-lock"></i>
                        </a>
                    </div>
                {% else %}
                    <div class="text-center">
                        <p>No articles on syllabus!</p>
                        <a class="btn btn-black px-4" href="{% url 'articles' %}">See Articles</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}