{% extends "base.html" %}

{% load static %}

{% block extend_title %} - Shopping Bag{% endblock %}

{% block content %}
    <div id="main-content" class="container">
        <div class="row">
            <h1 id="header" class="text-center text-capitalize mt-4">Shopping Bag</h1>
            <hr class="mt-3 mb-5">
            <div class="col-12">
                {% if bag_total %}
                    <div class="table-box">
                        <table class="table table-hover">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">Article</th>
                                    <th scope="col"></th>
                                    <th scope="col">Author(s)</th>
                                    <th scope="col">Price</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for article in bag_articles %}
                                    <tr>
                                        <td class="col-1">
                                            <a class="article-img" href="{{ article.article.image.url }}" target="_blank">
                                                <img class="bag-img" src="{{ article.article.image.url }}"  alt="{{ article.article.image.name }}">
                                            </a>
                                        </td>
                                        <td class="align-middle">{{ article.article.title }}</td>
                                        <td class="align-middle">{% for author in article.article.authors.all %}{% if not forloop.counter == 1 %}<br>{% endif %}{{ author }}{% endfor %}</td>
                                        <td class="align-middle">£ {{ article.article.price }}</td>
                                        <td class="align-middle">
                                            <form class="form" action="{% url 'remove_from_bag' article.article.id %}" method="POST">
                                                {% csrf_token %}
                                                <input type="submit" class="btn btn-black px-1 py-0" value="X">
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="table-dark text-center py-3">
                                        <h4><strong>Total: £{{ bag_total|floatformat:2 }}</strong></h4>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-orange my-3 " href="{% url 'articles' %}">
                            <i class="fas fa-chevron-left"></i>
                            Articles
                        </a>
                        <a class="btn btn-black my-3" href="{% url 'checkout' %}">
                            Secure Checkout
                            <i class="fas fa-lock"></i>
                        </a>
                    </div>
                {% else %}
                    <div class="text-center">
                        <p>No articles on syllabus!</p>
                        <a class="btn btn-black px-4" href="{% url 'articles' %}">See Articles</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block postload_js %}
    {{ block.super }}
    <!-- Activate tooltip (from Bootstrap) -->
    <script>  
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script> 
{% endblock %}