{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- Background image & tooltip -->
    <div id="banner" class="container-fluid position-relative">
        <div id="bag-box" class="row position-absolute mt-5">
            <div class="center">
                <h1 id="syllabus-text" class="py-3 mb-0 bg-dark">Syllabus</h1>
            </div>
            <div class="col-12">
                {% if bag_total %}
                    <table class="table table-dark table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Article</th>
                                <th scope="col"></th>
                                <th scope="col">Author(s)</th>
                                <th scope="col">Price</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        {% for article in bag_articles %}
                            <tbody>
                                <tr>
                                    <td class="col-1">
                                        <a href="{{ article.article.image.url }}" target="_blank">
                                            <img class="bag-img" src="{{ article.article.image.url }}"  alt="{{ article.article.image.name }}">
                                        </a>
                                    </td>
                                    <td class="align-middle">{{ article.article.title }}</td>
                                    <td class="align-middle">{% for author in article.article.authors.all %}{% if not forloop.counter == 1 %}<br>{% endif %}{{ author }}{% endfor %}</td>
                                    <td class="align-middle">£ {{ article.article.price }}</td>
                                    <td class="align-middle">
                                        <form class="form" action="{% url 'remove_from_bag' article.article.id %}" method="POST">
                                            {% csrf_token %}
                                            <input id="buy-button" type="submit" class="btn rounded-0 text-uppercase mt-3" value="x">
                                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-center py-3">
                                    <h4><strong>Total: £{{ bag_total|floatformat:2 }}</strong></h4>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <a id="return-button" class="btn mt-3 text-uppercase" href="{% url 'articles' %}">
                                        <i class="fas fa-chevron-left"></i>
                                        Articles
                                    </a>
                                    <a id="buy-button" class="btn mt-3 text-uppercase" href="{% url 'articles' %}">
                                        <i class="fas fa-chevron-lock"></i>
                                        Secure Checkout
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                {% else %}
                    <div class="center">
                        <p>No articles on syllabus!</p>
                        <a id="begin-button" class="btn px-4" href="{% url 'articles' %}">See Articles</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block postload_js %}
    {{ block.super }}
    <!-- Activate tooltip (from Bootstrap) -->
    <script>  
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script> 
{% endblock %}