{% extends "base.html" %}

{% load static %}

{% block content %}
    <div id="banner" class="container-fluid position-relative">
            <div class="position-absolute bottom-0 end-0">
                <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Photo by Vadim Sherbakov on Unsplash">
                    <i class="fas fa-info"></i>
                </button>
            </div>
    </div>
{% endblock %}


{% block postload_js %}
    <script>  
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script> 
{% endblock %}