{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- Background image & tooltip -->
    <div id="banner" class="container-fluid position-relative">
        <div id="welcome" class="position-absolute top-50 start-50 translate-middle">
            <h1 id="welcome-text" class="center m-3">Welcome to The Academy</h1>
            <h5 class="center"><em>The People's University</em></h5>
        </div>
        <div id="begin" class="position-absolute top-50 start-50 translate-middle">
            <a id="begin-button" class="btn px-4" href="{% url 'articles' %}">Enter</a>
        </div>
        </div>
        <div class="position-absolute bottom-0 end-0">
            <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Photo by Vadim Sherbakov on Unsplash">
                <i class="fas fa-info"></i>
            </button>
        </div>
    </div>
{% endblock %}


{% block postload_js %}
    <!-- Activate tooltip (from Bootstrap) -->
    <script>  
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script> 
{% endblock %}