{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <h1 id="header" class="center uppercase mt-4">{{ academic.name }}{% if user.username == academic.username %}'S ACADEMIC HUB{% endif %}</h1>
        <p class="fs-4 center">
            {% if academic.level >= 80 %}
                <span>- SAGE -</span>
            {% elif academic.level < 80 and academic.level >= 60 %}
                <span>- SAVANT -</span>
            {% elif academic.level < 60 and academic.level >= 40 %}
                <span>- PROFESSOR -</span>
            {% elif academic.level < 40 and academic.level >= 20 %}
                <span>- ACADEMIC -</span>
            {% elif academic.level < 20 %}
                <span>- STUDENT -</span>
            {% endif %}
        </p>
    </div>
    <div class="row">
        <div class="col-3">
            <p class="center"><i class="fas fa-at fa-fw"></i>{{ academic.username }}</p>
        </div>
        <div class="col-3">
            <p class="center"><i class="fas fa-eye fa-fw"></i> Following: {{ academic.following.all.count }}</p>
        </div>
        <div class="col-3">
            <p class="center"><i class="far fa-eye fa-fw"></i> Followers: {{ follower_count }}</p>
        </div>
        <div class="col-3">
            <p class="center"> <i class="fas fa-pen fa-fw"></i> Subscribers: {{ academic.subscribers }}</p>
        </div>
    </div>
    <hr class="py-0 my-0">
</div>
{% endblock %}

{% block content %}
    <div id="main-content" class="container">
        <a id="return-button" class="btn text-uppercase" href="{% url 'articles' %}">
            <i class="fas fa-chevron-left"></i>
            Articles
        </a>
        {% if user.username == academic.username and user.is_superuser %}
            {% include 'includes/articles.html' %}
        {% endif %}
        {% if user.username == academic.username and user.is_superuser %}
            {% include 'includes/proposals.html' %}
        {% endif %}
        {% if user.username == academic.username %}
            {% include 'includes/order_history.html' %}
        {% endif %}
        {% if user.username == academic.username %}
            <div class="row">
                <h2 class="center mt-3 pt-5">PERSONAL INFO</h2>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-6 my-5">
                <a href="{{ academic.image.url }}" target="_blank">
                    <img class="article-image" src="{{ academic.image.url }}"  alt="{{ academic.name }}">
                </a>
            </div>
            <div class="col-6">
                {% if user.username == academic.username %}
                    {% include 'includes/profile.html' %}
                {% else %}
                    <div class="row">
                        <h2 class="center mt-3 pt-5">SUMMARY</h2>
                    </div>
                    <div class="row">
                        <p class="mt-4">{{ academic.about }}</p>
                    </div>
                    <div class="row">
                        <div class="col center mt-4">
                            <a id="return-button" class="btn text-uppercase" href="{% url 'articles' %}">
                                <i class="fas fa-chevron-left"></i>
                                Articles
                            </a>
                            {% if user.academic in followers or following == True %}
                                <a id="follow-button" href="{% url 'unfollow' academic.id %}" class="btn text">Unfollow <strong>@{{ academic.username }}</strong></a>
                            {% elif user.academic not in followers or following == False %}
                                <a id="follow-button" href="{% url 'follow' academic.id %}" class="btn text">Follow <strong>@{{ academic.username }}</strong></a>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}