{% load mathfilters %}
<hr class="py-0 my-0">
<div class="row">
    <h4 class="text-center mt-4">FOLLOWERS</h4>
</div>
<div class="row mt-4">
    {% if followers|length == 0 %}
        <h6 class="text-center my-4">Nobody is following you yet!</h6>
        <p class="text-center my-4">To get followers, submit some articles and/or proposals.</p>
    {% else %}
        {% for follower in followers %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 pb-5">
                <div class="card h-100">
                    {% if follower.image %}
                        <a class="profile-img" href="{% url 'academic_profile_from_profile' follower.id %}">
                            <img class="card-img-top" src="{{ follower.image.url }}"  alt="{{ follower.name }}">
                        </a>
                    {% else %}
                        <a class="profile-img" href="{% url 'academic_profile_from_profile' follower.id %}">
                            <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ follower.name }}">
                        </a>
                    {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title">
                            <a href="{% url 'academic_profile_from_profile' follower.id %}">
                                {{ follower.name }}
                            </a>
                        </h5>
                        <p class="card-text">
                            <a href="{% url 'academic_profile_from_profile' follower.id %}">
                                <i class="fas fa-at fa-fw"></i>
                                {{ follower.username }}
                            </a>
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'academic_profile_from_profile' follower.id %}" class="btn btn-black">VIEW PROFILE</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
