
<div id="main-content" class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <h2 class="center mt-3 pt-5">ORDER HISTORY</h2>
            </div>
            <div class="row">
                <p class="mt-4">{{ academic.about }}</p>
            </div>
            <div class="row">
                <div class="col center">
                    <a id="follow-button" href="#" class="btn text mt-4">Follow <strong>@{{ academic.username }}</strong></a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <h2 class="center mt-3 pt-5">PERSONAL INFO</h2>
            </div>
            <div class="row">
                <p class="mt-4">{{ academic.about }}</p>
            </div>
            <div class="row">
                <div class="col center">
                    <a id="follow-button" href="#" class="btn text mt-4">Follow <strong>@{{ academic.username }}</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>