{% load mathfilters %}
<hr class="py-0 my-0">
<div class="row">
    <h4 class="text-center mt-4">PROPOSALS SUBMITTED</h4>
</div>
<div class="row mt-4">
    {% if articles|length == 0 %}
        <h6 class="text-center my-4">No proposals submitted yet!</h6>
    {% else %}
        {% for article in articles %}
            {% if article.proposal is True %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 pb-5">
                    <div class="card h-100 proposal">
                        {% if article.image %}
                            <a class="article-img" href="{% url 'article_detail_profile' article.id %}">
                                <img class="card-img-top" src="{{ article.image.url }}"  alt="{{ article.name }}">
                            </a>
                        {% else %}
                            <a class="article-img" href="{% url 'article_detail_profile' article.id %}">
                                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ article.name }}">
                            </a>
                        {% endif %}
                        <div class="card-header">
                            <h5 class="card-title text-center"><a href="{% url 'article_detail_profile' article.id %}">{{ article.title }}</a></h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><i class="fas fa-thumbs-up fa-fw"></i>
                                {{ article.stakers }}
                            </p>
                            <p class="card-text"><i class="fas fa-calendar fa-fw"></i> {{ article.date }}</p>
                            <p>
                                {% for subject in article.subjects.all %}
                                    
                                    <a href="{% url 'articles' %}?subject={{ subject.subject_name }}" class="card-text text-capitalize"><i class="fas fa-info-circle fa-fw"></i> {{ subject.friendly_name }}</a>
                                {% endfor %}
                            </p>
                            <p class="card-text"><i class="fas fa-chart-line fa-fw"></i> £{{ article.price|mul:article.stakers }}</p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="{% url 'article_detail_profile' article.id %}" class="btn btn-black">VIEW</a>
                            <a href="{% url 'edit_article' article.id %}" class="btn btn-orange">EDIT</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <div class="text-center mb-4">
        <a class="btn btn-blue" href="{% url 'add_article' %}">
            <i class="fas fa-pen"></i>
            Submit Proposal
        </a>
    </div>
</div>
