{% extends "base.html" %}

{% load static %}

{% block content %}
    <!-- Background image & tooltip -->
    <div id="" class="container-fluid position-relative">
        <div id="bag-box" class="row position-absolute mt-5">
            <div class="center">
                <h1 id="syllabus-text" class="py-3 mb-0 bg-dark">Enroll</h1>
            </div>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th scope="col">Article</th>
                        <th scope="col"></th>
                        <th scope="col">Author(s)</th>
                        <th scope="col">Price</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in bag_articles %}
                        <tr>
                            <td class="col-1">
                                <a href="{{ article.article.image.url }}" target="_blank">
                                    <img class="bag-img" src="{{ article.article.image.url }}"  alt="{{ article.article.image.name }}">
                                </a>
                            </td>
                            <td class="align-middle">{{ article.article.title }}</td>
                            <td class="align-middle">{% for author in article.article.authors.all %}{% if not forloop.counter == 1 %}<br>{% endif %}{{ author }}{% endfor %}</td>
                            <td class="align-middle">£ {{ article.article.price }}</td>
                            <td class="align-middle">
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="text-center py-3">
                            <h4><strong>Total: £{{ bag_total|floatformat:2 }}</strong></h4>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-12">
                <p>Please fill out the form below to complete your order</p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset>
                        <legend>Personal Info</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                        {{ order_form.phone_number | as_crispy_field }}
                    </fieldset>
                    <fieldset>
                        <legend>Billing Info</legend>
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.postcode | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        <div>
                            {% if user.is_authenticated %}
                                <label class="form-check-label" for="save-info">Save billing information to my profile (exlcluding card details)</label>
                                <input class="form-check-input" type="checkbox" id="save-info" name="save-info" checked>
                            {% else %}
                                <a href="{% url 'account_signup' %}">Create Account</a>
                                <a href="{% url 'account_login' %}">Login</a> to save information
                            {% endif %}
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Payment Info</legend>
                        <!-- Stripe: Card Element -->
                        <div id="card-element"></div>
                        <!-- Stripe: Form Errors -->
                        <div id="card-errors"></div>
                        <!-- Pass client secret to view to obtain payment intent id -->
                        <input type="hidden" value="{{ client_secret }}" name="client_secret">
                    </fieldset>
                    <div class="submit-button text-right mt-5 mb-2">
                        <a href="{% url 'bag' %}" class="btn">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Bag</span>
                        </a>
                        <button id="submit-button" class="btn">
                            <span class="font-weight-bold">Complete Order</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="loading-overlay">
        <h1 class="logo-font loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-spinner fa-spin"></i>
            </span>
        </h1>
    </div>
{% endblock %}

{% block postload_js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe.js' %}"></script>
{% endblock %}