{% extends "base.html" %}

{% load static %}

{% block extend_title %} - Checkout Success{% endblock %}

{% block content %}
    <!-- Background image & tooltip -->
<div id="main-content" class="container">
    <div class="row">
        {% if from_profile %}
            <h1 id="header" class="text-center text-uppercase mt-4">Order Details</h1>
        {% else %}
            <h1 id="header" class="text-center text-uppercase mt-4">Success!</h1>
        {% endif %}
        <hr class="mt-2 mb-5">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Article</th>
                    <th scope="col"></th>
                    <th scope="col">Author(s)</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for article in order.order_items.all %}
                    <tr>
                        <td class="col-1">
                            <a class="article-img" href="{{ article.image.url }}" target="_blank">
                                <img class="bag-img" src="{{ article.image.url }}"  alt="{{ article.image.name }}">
                            </a>
                        </td>
                        <td class="align-middle">{{ article.title }}</td>
                        <td class="align-middle">{% for author in article.authors.all %}{% if not forloop.counter == 1 %}<br>{% endif %}{{ author }}{% endfor %}</td>
                        <td class="align-middle">£ {{ article.price }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot class="table-dark">
                <tr>
                    <td colspan="5" class="text-center py-3">
                        <h4><strong>Total: £{{ order.order_total|floatformat:2 }}</strong></h4>
                    </td>
                </tr>
            </tfoot>
        </table>
        {% if from_profile %}
            <div class="text-center m-3">
                <a class="btn btn-orange" href="{% url 'academic_profile' academic.id %}">
                    <i class="fas fa-chevron-left"></i>
                    Return to Profile
                </a>
            </div>
        {% else %}
            <div class="text-center m-3">
                <a class="btn btn-green" href="{% url 'articles' %}">
                    See More Articles
                    <i class="fas fa-chevron-right"></i>
                </a>
            </div>
        {% endif %}
        </div>
    </div>
    </div>
{% endblock %}