@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

.md-text {
    font-size: 1.25rem;
}

.lg-text {
    font-size: 1.5rem;
}

.xl-text {
    font-size: 2rem;
}

.xxl-text {
    font-size: 2.5rem;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.center {
    text-align: center;
}

#search-btn-main, #search-btn-mobile, .form-control {
    height: 35px;
    margin-top: 5px;
    border-radius: 0;
    color: white;
    border-color: white;
}

#magnifying-glass-main, #magnifying-glass-mobile {
    size: 200px;
}

#search-btn-main:hover, #search-btn-mobile:hover {
    color: black;
    border-color: black;
    background-color: white;
}

.uppercase {
    text-transform: uppercase;
}

#logo-main {
    font-weight: 400;
    padding-left: 10px;
    margin-top: 5px;
}

#top-bar {
    background-color: black;
    height: 50px;
}

#main-login-link, #main-profile-link, #mobile-login-link,
#mobile-register-link, #mobile-profile-link, #mobile-logout-link, #navbarDropdown,  #main-register-link:hover {
    color: white;
}

#main-login-link:hover, #main-profile-link:hover, #mobile-login-link:hover,
#mobile-register-link:hover, #mobile-profile-link:hover, #mobile-logout-link:hover, #navbarDropdown:hover, #logo-main-link:hover {
    color: grey;
}

#main-register-link, #register-link-bottom {
    background-color: #35DB95;
    color: black;
    border: 1px solid black;
    border-radius: 0px;
}

#main-logout-link {
    background-color: #FD636B;
    color: black;
    border: 1px solid black;
    border-radius: 0px;
}

#register-link-bottom {
    width: 100px;
}

.dropdown-menu {
    border-radius: 0;
}

#navbarDropdown {
    text-align: center;
}

#bottom-box {
    border: 1px solid #C7C7C7;
}

#bottom-bar {
    height: 50px;
    align-content: center;
    justify-content: center;
}

#banner {
    height: 1000px;
    background-image: url("../../media/banner-image.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}

#welcome {
    width: 100%;
    height: 20%;
    opacity: 50%;
    background-color: white;
}

#welcome-text {

}

#begin {
    margin-top: 55px;
}

#begin-button {
    background-color: black;
    color: white;
    border-radius: 0px;
}

#header {
    color: #444444;
}

#main-content {
    min-height: 750px;
}

#buy-button {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 0px;
}

@media screen and (max-width: 767px){
    #mobile-logo {
        font-size: 20px;
    }
    .navbar {
        padding: 10px 0px;
    }
    .dropdown-menu, #mobile-login-link, #mobile-register-link,
    #mobile-profile-link, #mobile-logout-link {
        text-align: center;
    }
    #main-register-link {
        background-color: revert;
        color: white;
    }
}

@media screen and (max-width: 991px){
    #logo-main {
        font-size: 20px;
        padding-top: 2px;
    }
}

@media screen and (min-width: 992px){
    #logo-main {
        font-size: 24px;
    }
}