{% extends "base.html" %}

{% load static %}

{% block extend_title %} - Add Article{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <h1 id="header" class="text-center text-capitalize mt-5">Add Article</h1>
    </div>
    <hr class="my-3">
</div>
{% endblock %}

{% block content %}
    <!-- MAIN CONTENT -->
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-12">
                <p>Please use the form below to manage or submit an article</p>
                <form action="{% url 'add_article' %}" method="POST" id="article-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <div class="text-center my-5">
                        <a href="{% url 'articles' %}" class="btn btn-white">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                                Cancel
                            </span>
                        </a>
                        <button class="btn btn-black" type="submit">
                            <span class="font-weight-bold">Add Article</span>
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}