{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <h1 id="header" class="center mt-4">Articles</h1>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="main-content" class="container">
        <div class="row">
            <div class="col">
                {% for article in articles %}
                    <div class="card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        {% if article.image %}
                            <a href="">
                                <img class="card-img-top" src="{{ article.image.url }}"  alt="{{ article.name }}">
                            </a>
                        {% else %}
                            <a href="">
                                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ article.name }}">
                            </a>
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title center">{{ article.title }}</h5>
                            <p><br>
                                {% for subject in article.academics.all %}
                                    <span class="card-text">{{ academic }}, </span>
                                {% endfor %}
                            </p>
                            <p class="card-text">{{ article.date }}</p>
                            <p>
                                {% for subject in article.subjects.all %}
                                    <span class="card-text">{{ subject }}, </span>
                                {% endfor %}
                            </p>
                            <div class="center">
                                <a id="buy-button" href="#" class="btn">BUY {{ article.price}}</a>
                            </div>
                        </div>

                        <div class="card-footer">
                            {% if article.rating %}
                                <p class="card-text center">{{ article.rating }}</p>
                            {% else %}
                                <p class="card-text center">No Rating</p>
                            {% endif %}
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}