{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <h1 id="header" class="center text-capitalize mt-4">{{ article.title }}</h1>
        <div class="col mt-4">
            <p class="">
                {% for author in article.authors.all %}
                    <i class="fas fa-user fa-fw"></i>
                    <span class="card-text"> {{ author }}</span>
                {% endfor %}
            </p>
        </div>
        <div class="col mt-4">
            <p class=""><i class="fas fa-calendar fa-fw"></i> {{ article.date }}</p>
        </div>
        <div class="col mt-4">
            <p class=""><i class="fas fa-star fa-fw"></i> {{ article.rating }}</p>
        </div>
        <div class="col mt-4">

            <p>
                {% for subject in article.subjects.all %}
                    <i class="fas fa-info-circle fa-fw"></i>
                    <span href="#" class="card-text">{{ subject }}</span>
                {% endfor %}
            </p>
        </div>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-6 my-5">
                <a href="{{ article.image.url }}" target="_blank">
                    <img class="article-image" src="{{ article.image.url }}"  alt="{{ article.name }}">
                </a>
            </div>
            <div class="col-6 my-5">
                <div class="row">
                    <h2 class="center">SUMMARY</h2>
                </div>
                <div class="row">
                    <p class="">{{ article.summary }}</p>
                </div>
                <p class="card-text center fs-5"><i class="fas fa-pound-sign fa-fw"></i> {{ article.price}}</p>
                <form class="form" action="{% url 'add_to_bag' article.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 center">
                            {% if from_profile %}
                                <a id="return-button" class="btn mt-3 text-uppercase" href="{% url 'academic_profile' user.academic.id %}">
                                    <i class="fas fa-chevron-left"></i>
                                    Profile
                                </a>
                            {% else %}
                                <a id="return-button" class="btn mt-3 text-uppercase" href="{% url 'articles' %}">
                                    <i class="fas fa-chevron-left"></i>
                                    Articles
                                </a>
                            {% endif %}
                            <input id="buy-button" type="submit" class="btn rounded-0 text-uppercase mt-3" value="Add to Bag">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-8 offset-2">
            <hr>
        </div>
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}