{% extends "base.html" %}

{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <h1 id="header" class="center mt-4">
                {% for subject in current_subjects %}
                    <a id="category-button" href="{% url 'articles' %}?subject={{ subject.subject_name }}" class="btn">
                        {% if subject.friendly_name %}
                            {{ subject.friendly_name|title }}<br>
                        {% else %}
                            {{ subject.subject_name|title }}<br>
                        {% endif %} 
                    </a>
              {% endfor %}
            </h1>
            <hr>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <!-- TEST TEST TEST TEST TEST TEST TEST TEST-->
    <div class="center">
        <h1>Test 1:</h1>
        <h1>Test 2:</h1>
    </div>
    <!-- MAIN CONTENT -->
    <div id="main-content" class="container">
        <div class="row">
            <div class="col">
                {% for article in articles %}
                    <div class="card col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        {% if article.image %}
                            <a href="{% url 'article_detail' article.id %}">
                                <img class="card-img-top" src="{{ article.image.url }}"  alt="{{ article.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'article_detail' article.id %}">
                                <img class="card-img-top" src="{{ MEDIA_URL }}noimage.png" alt="{{ article.name }}">
                            </a>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title center">{{ article.title }}</h5>
                            <p class="card-text"><i class="fas fa-star fa-fw"></i>
                                {% if article.rating %}
                                     {{ article.rating }}
                                {% else %}
                                     No Rating
                                {% endif %}
                            </p>
                            <p class="card-text">
                                {% for academic in article.academics.all %}
                                    <i class="fas fa-user fa-fw"></i>
                                    <span> {{ academic }}</span>
                                {% endfor %}
                            </p>
                            <p class="card-text"><i class="fas fa-calendar fa-fw"></i> {{ article.date }}</p>
                            <p>
                                {% for subject in article.subjects.all %}
                                    <i class="fas fa-info-circle fa-fw"></i>
                                    <span href="#" class="card-text">{{ subject }}</span>
                                {% endfor %}
                            </p>
                            <p class="card-text"><i class="fas fa-pound-sign fa-fw"></i> {{ article.price}}</p>
                        </div>
                        
                        <div class="card-footer center">
                            <a id="more-button" href="{% url 'article_detail' article.id %}" class="btn">MORE</a>
                            <a id="buy-button" href="{% url 'article_detail' article.id %}" class="btn">ADD TO BASKET</a>
                        </div>
                    </div>

                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}