{% extends "base.html" %}

{% load static %}

{% block extend_title %} - Edit Article{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <h1 id="header" class="text-center text-capitalize mt-5">Edit Article</h1>
    </div>
    <hr class="my-3">
</div>
{% endblock %}

{% block content %}
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-12">
                <p>Please use the form below to manage or submit an article.</p>
                <!-- Edit Article Form -->
                <form action="{% url 'edit_article' article.id %}" method="POST" id="article-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <!-- Cancel/Confirm Buttons -->
                    <div class="text-center my-5">
                        <a href="{% url 'articles' %}" class="btn btn-white">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                                Cancel
                            </span>
                        </a>
                        <button id="submit-button" class="btn btn-black" type="submit">
                            <span class="font-weight-bold">Update Article</span>
                            <span class="icon">
                                <i class="fas fa-check"></i>
                            </span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}