<div class="toast bottom-0 end-0 rounded-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header border border-success text-success bg-dark">
        <strong class="me-auto">The Academy</strong>
        <small>Now</small>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <h6 class="text-center">{{ message }}</h6>
    </div>
    {% if bag_total and not on_profile %}
        <hr>
        <h6 class="center underline">Items in Bag</h6>
        <div class="bag-item-wrapper">
            {% for article in bag_articles %}
                <div class="row">
                    <div class="col-4">
                        <div class="m-2">
                            {% if article.article.image %}
                                <img class="bag-mini-img" src="{{ article.article.image.url }}"  alt="{{ article.article.image.name }}">
                            {% else %}
                                <img class="bag-mini-img" src="../../../media/C_SMIC-2.png"  alt="Placeholder image">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-8 mt-4">
                        <div class="text-truncate">{{ article.article.title }}</div>
                        <div><strong>£ {{ article.article.price }}</strong></div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row mb-0">
            <div class="col text-end">
                <p><strong>Bag Total:</strong></p>
            </div>
            <div class="col text-start">
                <p class="underline"><strong>£{{ bag_total }}</strong></p>
            </div>
        </div>
    <hr class="mt-0">
    <div class="center">
        <a id="begin-button" class="btn px-3 mb-3" href="{% url 'bag' %}">Shopping Bag</a>
    </div>
    {% endif %}
</div>